.pageTableContainer {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .tableContainer {
    margin-top: 20px;
    padding: 0 15px 15px;
    background-color: #fff;
    .tableHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 15px;
    }
  }
}
