.layoutContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .body {
    flex: 1;
    overflow: hidden;
    display: flex;
    background-color: #f0f2f5;

    .aside {
      height: 100%;
      // width: 60px;
    }
    .content {
      height: 100%;
      overflow: hidden;
      flex: auto;
      padding: 10px;
    }
  }
}
